@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn-primary {
    @apply h-60 w-64 bg-[#080910] outline-none text-white rounded cursor-pointer
  }
  .tag {
    @apply h-8 w-auto bg-[#2a2d32] font-bold text-gray-200 text-xs cursor-pointer outline-none flex items-center place-content-center text-gray-300 rounded
  }
}



@layer base {
    @font-face {
      font-family: "Flama";
      src: url("../assets/Inter-Regular.ttf") format("truetype") ;
    }

  html {
    font-family: "Flama", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
}
