@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .tag {
    @apply h-8 w-auto py-1 px-2 bg-[#2a2d32] font-bold text-gray-200 text-xs cursor-pointer outline-none flex items-center place-content-center text-gray-300 rounded
  }

  .gradient {
    background: linear-gradient(84deg, #3d62e2 -39%, #5fd7fb 98%) !important
  }

  .gradient:after {
      background-image: url(/noise.png);
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      opacity: .2;
      right: 0;
      top: 0;
      height: inherit;
      width: 100%;
      position: absolute;
      background-size: cover;
  }

}

@layer base {
    @font-face {
      font-family: "Inter";
      src: url("../assets/Inter-Regular.ttf") format("truetype") ;
    }

  html { 
    font-family: "Inter", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-display: swap;
  }

  ::selection{
    color: purple; 
  }
}
